#build files
*.[oa]
*.out
*.so
#build directory
build/
#subdirectories of subdirectories of source
/src/*/**/
# cfiles directly in source
/src/*.c
!/src/main.c

#ignore the version log
/versionlog.txt

#generated config files
/src/**/*.mk
